* {
:box-sizing:border-box;
    margin: 0%;
    padding: 0;
    after: before;
}

@font-face {
    font-family: Noto Sans;
    src: url(../NotoSans-Bold.ttf);
}

@font-face {
    font-family: Nunito;
    src: url(../Nunito-VariableFont_wght.ttf);
}







.menu1 {
    background: linear-gradient(111.23deg, #E9F7FF 19.95%, #FFDBD5 85.17%);
    
    height: 1168px;
    
    width: 1106px;
    
    
    
}

.img2 {
    font-family: nunito;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #292930;
    margin-left: 129px;
    margin-top: -2198px;
    display: ;
}

.class2 {

    margin-left: 546px;
    height: 29px;
    width: 500px;
    left: 386px;
    top: 30.58203125px;
    border-radius: nullpx;
    width: 500px;
    height: 29px;
    margin-top: -1129px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.home {
    font-family: nunito;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #292930;
    text-decoration: none;
}

.about {
    font-family: nunito;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #292930;
    text-decoration: none;
    margin-left: 40px;
}

.services {
    font-family: nunito;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #292930;
    text-decoration: none;
    margin-left: 60px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropbtnn {
    text-decoration: none;
    font-family: nunito;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #292930;
    text-decoration: none;
    margin-left: 60px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.Blog {
    font-family: nunito;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #292930;
    text-decoration: none;
    margin-left: 60px;
}

.Login {
    font-family: nunito;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #292930;
    text-decoration: none;
    margin-left: 130px;
}

.damxmare {
    margin-left: 178px;
    display: flex;
}

.class3 {
    height: 64px;
    width: 173px;
    left: 1033px;
    top: 8.58203125px;
    border-radius: 7px;
    padding: 17px 39px 18px 39px;
    background: rgba(41, 41, 48, 1);
    display: flex;


    align-items: center;
    padding: 17px 39px 18px;
    gap: 10px;

    margin-left: 35px;
    width: 173px;
    height: 64px;
    left: 1033px;
    top: 8.58px;
}

.class4 {

    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    width: 95px;
    height: 29px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    text-decoration: none;
    text-transform: capitalize;



}

.img3 {
    margin-right: 85px;
    margin-top: 48px;
    ;
}

.img4 {
    height: 438.9999694824223px;
    width: 508.0000305175786px;
    left: 1307.5px;
    top: 714.5px;
    border-radius: 0px;
    margin-top: -1131px;
    margin-left: 1187px;
    color: linear-gradient(303.97deg, #CFDEEC 11.67%, rgba(176, 194, 213, 0) 49.87%);
    background: linear-gradient(303.97deg, #CFDEEC 11.67%, rgba(176, 194, 213, 0) 49.87%);


}

.img5 {
    height: 1156px;
width: 1519px;
left: 0px;
top: -10px;
border-radius: 0px;


    
}

.class6 {



    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    display: flex;
    height: 23px;
    width: 85px;
    left: 0px;
    top: 0px;
    border-radius: nullpx;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.135em;
    text-transform: uppercase;
    margin-top: -766px;
    margin-left: 137px;
    front
}

.class7 {
    color: rgba(254, 201, 12, 1);
}

.class9 {
    width: 740px;
    height: 231px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    font-size: 70px;
    line-height: 110.5%;
    margin-left: 139px;
    margin-top: 29px;
}

.class10 {
    margin-top: 24px;
    margin-left: 141px;
    height: 56px;
    width: 593px;
    left: 0px;
    top: 316px;
    border-radius: nullpx;
    text-align: left;
    color: rgba(85, 85, 85, 1);
}

.class12 {
    margin-top: -394px;
}

.class13 {
    height: 64px;
    width: 182px;
    left: 0px;
    top: 0px;
    border-radius: 7px;
    padding: 17px 39px 18px 39px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 17px 39px 18px;
    gap: 10px;
    margin-top: 34px;
    width: 182px;
    height: 64px;
    background: #292930;
    border-radius: 7px;
    margin-left: 135px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.class15 {
    display: flex;
    gap: 20px;
    margin-top: 34px;
    margin-left: 139px;

}

.btn {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 17px 18px 18px;
    gap: 10px;

    width: 182px;
    height: 64px;

    background: #ffffff;
    border-radius: 7px;

    font-family: Nunito;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;

    text-align: center;
    text-transform: capitalize;

    border: 1.5px solid #292930;
    color: #292930;
}

.btn1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 17px 18px 18px;
    gap: 10px;

    width: 173px;
    height: 64px;

    border: 1.5px solid #292930;
    border-radius: 7px;


    font-family: Nunito;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;


    text-align: center;
    text-transform: capitalize;

    color: #292930;
}

.btn1:hover {

    background-color: #292930;
    color: #FFFFFF;

}

.btn:hover {

    background-color: #292930;
    color: #FFFFFF;

}

.main2 {
    background: #292930;
    height: 1779px;
    width: 1519px;
    
    align-items: center;
    display: flex;


}

.menuu {
    margin-left: 112px;
}

.class16 {
    margin-top: 246px;
    

}

.class17 {
    margin-top: 19px;
}

.class18 {
    margin-left: 122px;
    margin-top: -93px;
}

.class19 {
    font-family: Nunito;
    font-size: 40px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    height: 88px;
    width: 620px;
    left: 0px;
    top: 38px;
    border-radius: nullpx;
    margin-left: 116px;

}

.class20 {
    height: 62px;
    width: 174px;
    left: 1026px;
    top: 64px;
    border-radius: 7px;
    padding: 17px 24px 18px 24px;
    background: #FFFFFF;
    display: flex;
    margin-left: 28cm;
    margin-top: -69px;


}

.class22 {
    margin-top: 7px;
    margin-left: 5px;
}

.class21 {
    text-decoration: none;
    font-family: Nunito;
    font-size: 18px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: #292930;
    font-family: Nunito;
    font-size: 18px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;

}

.class24 {
    height: 475px;
    width: 352px;
    margin-top: 90px;
    top: 0px;
    border-radius: 30px;
    padding: 41px 39px 41px 39px;
    background: linear-gradient(180deg, #36363E 0%, #292930 100%),
        linear-gradient(0deg, #424245, #424245);
    border: 1px solid #424245;
    
}

.class23 {
    height: 153px;
    width: 153px;
    border-radius: 50%;
    top: 0px;
    border-radius: 50%;
    background: #292930;
}

.class25 {
    height: 28px;
    width: 266px;
    left: 0px;
    top: 0px;
    border-radius: nullpx;
    font-family: Nunito;
    font-size: 25px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    margin-top: 26px;
}

.class26 {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #D0D0D0;
    margin-top: 14px;
}

.class27 {
    margin-top: 23px;
}

.btn3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 266px;
    height: 62px;
    background: linear-gradient(180deg, #36363E 0%, #292930 100%);
    border-radius: 7px;
    border: 1px solid #535355;
    font-family: Nunito;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    background-color: #525255;

    text-align: center;
    text-transform: capitalize;
}

.btn3:hover {

    background: #FFDC60;


}

.class28 {
    margin-left: 189px;
    margin-top: -89px;
    color: #525255
}

.class29 {
    margin-left: 449px;
    margin-top: -566px;
}

.class30 {
    margin-left: 918px;
    margin-top: -566px;
}

.class31 {
    margin-top: -22px;
}

.class32 {
    margin-top: -566px;
    margin-left: 449px;
}

.class33 {
    margin-top: -566px;
    margin-left: 918px;
}


/*------------------------------------------------------------------------------------page3-----------------------------------------------------------------------------*/



.main3 {
    align-items: ;

    background-color: #FFFFFF;
    margin-top: 1798;
    height: 798px;
    width: 1200px;
    left: 360px;
    top: 2764px;
    
    
}

.class34 {
    height: 88px;
    width: 88px;
     margin-left: 688.5px;
     margin-top: 100px;
    top: 0px;

    border-radius: 0px;
display: flex;
align-items: center;    
}
.class35{
    font-size: 15px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0.135em;
    text-align: left;
    align-items: center;
    margin-left: 638px;
    margin-top: 29px;

    }
    .class36{height: 554px;
        width: 389px;
        left: 360px;
        top: 3008px;
        
margin-top: 33px;
margin-left: 133px;
        border-radius: 10px;
        padding: 45px 38px 45px 38px;
    background: #F7F7F7;
    border-radius: 10px;
border: 1px solid #E2E2E2;}
.class37{font-family: Nunito;
    font-size: 40px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: center;
    height: 44px;
width: 473px;
left: 0px;
top: 37px;
border-radius: nullpx;
margin-left: 498px;
margin-top: 18px;
}
.class38{font-family: Nunito;
    font-size: 25px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    height: 28px;
width: 83px;
left: 86.1396484375px;
top: 0px;
border-radius: nullpx;
margin-left: 88px;
margin-top:-53px;
}
.class39{width: 90px;
    height: 54px;
    left: 83.14px;
    top: 35px;
    
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 110.5%;
    margin-left: 85px;
    margin-top: 62px;
    color: #292930;
}
.img7{margin-top: 10px;}
.class40{height: 44px;
    width: 96px;
    left: 183.1396484375px;
    top: 50px;
    border-radius: nullpx;
    color: rgba(85, 85, 85, 1);
margin-top: -43px;
font-size: 18px;
font-weight: 400;
line-height: 44px;
letter-spacing: 0em;
margin-left: 183px;

}
.hr1{height: 3px;
    border: 1px solid rgba(211, 211, 211, 1);
    width: 302px;
margin-top: 33px;
    border-radius: 0px;
    background: rgba(211, 211, 211, 1);
}
.class43{text-decoration:none;
    height: 216px;
    width: 224px;
    left: 28px;
    top: 154px;
    
    
font-size: 18px;
font-weight: 400;
line-height: 44px;
letter-spacing: 0em;
text-align: left;
color: rgba(85, 85, 85, 1);
}
.class41{text-decoration: none;}
.class44{margin-right: 233px;
}

.btn4{font-family: Nunito;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 314px;
    height: 64px;
    background-color: black;
    color: white;
    border-radius: 7px;
    text-align: center;
    text-transform: capitalize;
    cursor: pointer;

}
.class46{margin-left: 243px;
margin-top: -555px;}
.class47{margin:653px;
margin-top: -587px;}
.class48{height: 40px;
    width: 89px;
    left: 1044px;
    top: 3028px;
    border-radius: 9px;
    background: rgba(255, 220, 96, 1);
    margin-left: 5x;
    
}
.class49{height: 37px;
    width: 69px;
    left: 1054px;
    top: 3030px;
    border-radius: nullpx;
    
font-size: 15px;
font-weight: 500;
line-height: 37px;
letter-spacing: 0em;
text-align: center;
margin-left: 9px;
}
.class52{height: 554px;
    width: 389px;
    left: 360px;
    top: 3008px;
    
margin-top: 33px;
margin-left: 133px;
    border-radius: 10px;
    padding: 45px 38px 45px 38px;
    background: rgba(41, 41, 48, 1);

border-radius: 10px;
border: 1px solid #E2E2E2;}
.class54{margin-right: 233px;}

.btn5{font-family: Nunito;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 314px;
    height: 64px;
    background-color:#ffffff
    color: white;
    border-radius: 7px;
    text-align: center;
    text-transform: capitalize;
    cursor: pointer;

}
/*-------------------------------------------------page4----------------------------------------*/

.menu4{height: 1034px;
    width: 1519px;
    left: 0px;
    top: 3732px;
    border-radius: 0px;
    background: #292930;
    display:flex;
}
.class55{height: 652.164306640625px;
    width: 399px;
    left: 0px;
    top: 0px;
    border-radius: 7px;
    padding: 49px 53px 49px 53px;
    background: #3C3C45;
    margin-left: 129px;
    margin-top: 191px;
}
.class58{height: 28px;
    width: 168px;
    left: 0px;
    top: 0px;
    border-radius: nullpx;
    font-family: Nunito;
font-size: 25px;
font-weight: 600;
color: #ffffff;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
margin-top:15px ;
}
.class59{height: 56px;
    width: 288px;
    left: 0px;
    top: 29px;
    border-radius: nullpx;
    margin-top: -9px;
font-size: 18px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
color: #D0D0D0;
}
.class60{margin-left: 89px;
margin-top:-123px;}
.class61{height: 62px;
    width: 293px;
    left: 0px;
    top: 103px;
    border-radius: 7px;
    background: #5B5B61;
    

}
.name{height: 62px;
    width: 293px;
    border-radius: nullpx;
    font-family: Nunito;
font-size: 18px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0em;
background:#5B5B61 ;
text-decoration: none; 
border-radius: 7px;
}
.class62{height: 62px;
    width: 293px;
    left: 0px;
    top: 183px;
    margin-top: 17px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    background: #FFDC60;
    
}
.class63{height: 29px;
    width: 80px;
    border-radius: nullpx;
    font-family: Nunito;
font-size: 18px;
margin-left: 104px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0em;
color: #292930;
text-decoration: none;
}
.class64{display: flex;
align-items: center;
margin-top: -605px;
margin-left: 2cm;}
.class66{height: 28px;
    width: 196px;
    left: 27px;
    top: 0px;
    border-radius: nullpx;
    font-family: Nunito;
font-size: 25px;
font-weight: 600;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;
margin-top: 16px;
}
.class67{height: 62px;
    width: 255px;
    margin-left: -223px;
    margin-top: 244px;
    
    border-radius: 7px;
    background: #3C3C45;}
    .class68{height: 39px;
        width: 192px;
    
        border-radius: nullpx;
        font-family: Noto Sans;
font-size: 25px;
font-weight: 700;
line-height: 39px;
margin-left: 30px;
margin-top: 12px;
letter-spacing: 0em;

color: #FFDC60;
}
.class69{color: #FFFFFF;
    height: 28px;
    width: 225px;
    left: 0px;
    top: 124px;
font-size: 18px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
margin-left: 6px;
margin-top: 22px;
}
.class71{margin-top: 198px;
margin-left: 93px;}
.class72{height: 28px;
    width: 97px;

    border-radius: nullpx;
    font-family: Nunito;
font-size: 25px;
font-weight: 600;
line-height: 28px;
letter-spacing: 0em;
color: #FFFFFF;
margin-left: 119px;
margin-top: -24px;
}
.class73{color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 243px;
    margin-left: -123px;
    }
    .class74{height: 28px;
        width: 68px;
        left: 0px;
        top: 124px;
        border-radius: nullpx;
        color: #FFDC60;
        margin-top: 314px;
        margin-left: -273px;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
        }
        .hr2{height: 2px;
            width: 702.0000000000026px;
            left: 0px;
            top: 202px;
            border-radius: nullpx;
            border: 1px solid #727274;
            margin-top: 400px;
            margin-left: -425px;
            background: #727274;
}
.class76{
    border-radius: 0px;
    color: #FF5449;
    margin-top: 456px;
    margin-left: -699px;
}
.class77{color: #FFFFFF;
    height: 28px;
    width: 70px;
    left: 33px;
    top: 0px;
    border-radius: nullpx;
    font-family: Nunito;
font-size: 25px;
font-weight: 600;
line-height: 28px;
margin-top: 456px;
margin-left: -669px;
letter-spacing: 0em;
text-align: left;
}
.class78{color: #FFFFFF;
    list-style: none;
    display: flex;
    align-items: center;
margin-top: 517px;
margin-left: -127px;
border-radius: nullpx;
font-family: Nunito;}


.class79{list-style: none;
color: #FFFFFF;
margin-left: -127px;
border-radius: nullpx;
font-family: Nunito;
font-size: 18px;
font-weight: 400;
line-height: 38px;
letter-spacing: 0em;
}
.class80{margin-top: 454px;
    margin-left: 110px;}
    .class81{margin-top: -9px;}
    .class82{color: #FFFFFF;
        height: 28px;
        width: 70px;
        left: 33px;
        top: 0px;
        border-radius: nullpx;
        font-family: Nunito;
    font-size: 25px;
    font-weight: 600;
    line-height: 28px;
    margin-top: 475px;
    
    letter-spacing: 0em;
    text-align: left;}
    .class83{margin-left: -84px;}
    .class84{margin-left: 44px;}
    .class84{margin-top: 456px;
    margin-left: 134px;}
    .class85{color: #FFFFFF;
        list-style: none;
        display: flex;
        align-items: center;
    margin-top: 517px;
    margin-left: -281px;
    border-radius: nullpx;
    font-family: Nunito;}
    
    
    .class86{list-style: none;
    color: #FFFFFF;
    margin-left: -281px;
    border-radius: nullpx;
    font-family: Nunito;
    font-size: 18px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0em;
    }

    .hr3{height: 2px;
        width: 702.0000000000026px;
        left: 0px;
        top: 202px;
        border-radius: nullpx;
        border: 1px solid #727274;
        margin-top: 800px;
        margin-left: -843px;
        background: #727274;}

        .end{height: 38px;
            width: 593px;
            left: 48px;
            top: 607px;
            border-radius: nullpx;
            color: #FFFFFF;
            margin-left: -655px;
margin-top: 820px;
font-size: 18px;
font-weight: 400;
line-height: 38px;
letter-spacing: 0em;
text-align: left;
}